# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
*.sqlite3

# Django/static/media local
apps/backend/staticfiles/
apps/backend/media/

# Env/secrets
.env
.env.*
!.env.example
*.pem
*.p12
*.key
*.cert
*.crt

# OS/editor
.DS_Store
.idea/
.vscode/
*.swp

# Logs
*.log

# Docker/db
postgres_data/
